.dialog-title {
  color: #333; 
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px; 
}

.custom-dialog-content {
  margin-bottom: 20px; 
}

form {
  width: 100%; 
}

mat-form-field {
  width: 100%; 
  margin-bottom: 20px; 
  
}

textarea {
  resize: vertical;
}

.custom-dialog-actions {
  justify-content: flex-end; 
}

.dialog-actions button {
  margin-left: 10px;
  
}
